<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="header">Sample App with ion-datetime component.</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="futureDateForm" (ngSubmit)="onSubmit($event)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Select a date from future</ion-label>
        <ion-datetime
          placeHolder="Select Date"
          displayFormat="MMM DD, YYYY"
          formControlName="futureDate"
          min="{{minDate}}"
          max="{{maxDate}}"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-button type="submit" color="primary"> Submit </ion-button>
      </ion-item>
      <div *ngIf="dateSubmitted" class="results-list">
        <ion-item> Today: <span>{{today}} </span></ion-item>
        <ion-item> Yesterday: <span>{{yesterday}}</span></ion-item>
        <ion-item>
          10 days past selected date:
          <span>{{tenYearsPassedSelected}}</span></ion-item
        >
        <ion-item>
          1 year past selected date:
          <span>{{oneYearPassedSelected}}</span></ion-item
        >
      </div>
    </ion-list>
  </form>
</ion-content>
